{% extends "base.twig" %}
{% block content %}
	<article class="znajdzLokal">
		<div class="l-wrapper">
			<h1 class="fnt50 znajdzLokal__title">{{post.title}}</h1>
			<div class="line znajdzLokal__line" data-aos="width" data-aos-duration="800"></div>
			<div class="znajdzLokal__wrapper">
				<aside class="znajdzLokal__filters">
					<div class="znajdzLokal__filters__item">
						<h3 class="najdzLokal__filters__title">inwestycja</h3>
						{% for item in post.meta('inwestycja') %}
							<div class="znajdzLokal__filters__inwestycja__item">
								<figure>
									{% include 'components/generic/image.twig'  with { img_src:Image(item.glowne_zdjecie).src, width:132, height:94 } %}
								</figure>
								{{item.title}}
							</div>
						{% endfor %}
					</div>
					<div class="znajdzLokal__filters__item">
						<h3 class="najdzLokal__filters__title">Liczba pokoi</h3>

						<div id="pokoiSlider" class="pokoi-slider"></div>
						<div class="values">
							<span id="pokoi-from">0</span>
							<span id="pokoi-to">10</span>
						</div>

					</div>
					<div class="znajdzLokal__filters__item">
						<h3 class="najdzLokal__filters__title">Powierzchnia</h3>

						<div id="powierzchniaSlider" class="powierzchnia-slider"></div>
						<div class="values">
							<span id="powierzchnia-from">0</span>
							<span id="powierzchnia-to">10</span>
						</div>

					</div>
					<div class="znajdzLokal__filters__item">
						<h3 class="najdzLokal__filters__title">piętro</h3>

						<div id="pietroSlider" class="pietro-slider"></div>
						<div class="values">
							<span id="pietro-from">0</span>
							<span id="pietro-to">10</span>
						</div>

					</div>
					<div class="znajdzLokal__filters__item">
						<h3 class="najdzLokal__filters__title">Cechy dodatkowe</h3>

						{% for item in dodatkowo %}
							<span class="wpcf7-form-control-wrap acceptance-1">
								<span class="wpcf7-form-control wpcf7-acceptance">
									<span class="wpcf7-list-item">
										<label><input type="checkbox" name="acceptance-1" value="1" aria-invalid="false" checked="checked"><span class="wpcf7-list-item-label">{{item.name}}
											</span>
										</label>
									</span>
								</span>
							</span>
						{% endfor %}
					</div>
				</aside>
				<section class="znajdzLokal__main">
					<div class="znajdzLokal__main__meta">
						<div>liczba ofert 20
							<span>(34)</span>
						</div>
						<div>
							<span>sortuj</span>nazwa
						</div>
					</div>
					{% for item in postsLoop %}
						<article class="znajdzLokal__item {% for termname in item.terms('dodatkowo') %}{{termname.slug}} {% endfor %}">
							<figure>
								<img src="{{item.thumbnail | resize(150,132)}}">

							</figure>
							<div class="">
								<h2>{{item.title}}
									{% for termname in item.terms('inwestycja') %}
										{{termname.slug}}
									{% endfor %}
								</h2>
								{% if item.powierzchnia %}
									<div class="lokal__twoColumns">
										<h3>Powierzchnia:</h3>
										<p>{{item.powierzchnia}}
											m²</p>
									</div>
								{% endif %}
								{% if item.liczba_pokoi %}
									<div class="lokal__twoColumns">
										<h3>Liczba pokoi:</h3>
										<p>{{item.liczba_pokoi}}</p>
									</div>
								{% endif %}

								<div class="lokal__twoColumns">
									<h3>Piętro:</h3>
									<p>{{item.pietro}}</p>
								</div>

								{% if item.meta('status') %}
									<div class="lokal__twoColumns">
										<h3>Status:</h3>
										<p>{{item.meta('status')}}</p>
									</div>
								{% endif %}

							</div>
							<div class="lokal__btns">
								<button class="btn">prośba o kontakt</button>
								<a target="_blank" href="{{item.link}}" class="btn --lightGrey">Karta mieszkania</a>
								<a target="_blank" href="{{item.meta('pdf')}}" class="btn --lightGrey">pobierz PDF</a>
							</div>

						</article>
					{% endfor %}
				</section>
			</div>
		</div>
	</article>
{% endblock %}
