{% extends "base.twig" %}

{% block content %}
	<article class="main-article lokal">
		<div class="l-wrapper">
			<a href="" class="goBack">Wróć do listy</a>
			<div class="lokal__wrapper">
				<div class="lokal__left">
					<div class="lokal__status {{post.meta('status')}}">{{post.meta('status')}}</div>
					<h1 class="lokal__inwestycja">
						{% if inwestycja|length > 1 %}
							{{inwestycja[1].name}}
						{% else %}
							{{inwestycja[0].name}}
						{% endif %}
					</h1>
					<h2 class="lokal__mieszkanie">
						{% if post.typ == 'Usługi' %}Lokal Usługowy nr{% else %}Mieszkanie nr
						{% endif %}
						{{post.name}}</h2>
					<div class="line double --grey"></div>
					{% if post.powierzchnia %}
						<div class="lokal__twoColumns">
							<h3>Powierzchnia:</h3>
							<p>{{post.powierzchnia}}
								m²</p>
						</div>
					{% endif %}
					{% if post.liczba_pokoi %}
						<div class="lokal__twoColumns">
							<h3>Liczba pokoi:</h3>
							<p>{{post.liczba_pokoi}}</p>
						</div>
					{% endif %}

					<div class="lokal__twoColumns">
						<h3>Piętro:</h3>
						<p>{{post.pietro}}</p>
					</div>

					{% if post.meta('status') %}
						<div class="lokal__twoColumns">
							<h3>Status:</h3>
							<p>{{post.meta('status')}}</p>
						</div>
					{% endif %}
					{% if dodatkowo %}
						<div class="lokal__twoColumns --last --dodatkowo">
							<h3>dodatkowo:</h3>
							<p>
								{% for item in dodatkowo %}
									<span>{{item.name}}</span>
								{% endfor %}
							</p>
						</div>
					{% endif %}
					<div class="line double --grey"></div>
					<div class="lokal__btns">
							<a id="apartments360Button" data-symbol={{post.name}}  class="btn --lightGrey">Mieszkanie 3D 360°</a>
						{% if pdf is empty %}
							<a target="_blank" href="" class="btn --lightGrey" id="pdfLink">pobierz PDF</a>
						{% else %}
							<a target="_blank" href="{{pdf}}" class="btn --lightGrey">pobierz PDF</a>
						{% endif %}
							<button class="btn" id="contactButton" data-investment="{% if inwestycja|length > 1 %}
						{{inwestycja[1].name}}
					{% else %}
						{{inwestycja[0].name}}
					{% endif %}">prośba o kontakt</button>
					</div>
				</div>

				<div class="lokal__right">
					<div class="slider-lokal">
						{% for item in post.meta('galeria') %}
							<a class="apartment-glightbox" href="{{Image(item.zdjecie).src}}" >
								<img src="{{Image(item.zdjecie).src}}">
							</a>
						{% endfor %}
					</div>

					<!-- THUMBNAILS -->
					{% if post.meta('galeria')|length > 1 %}
						<div class="slider-nav-lokal-thumbnails">
								{% for item in post.meta('galeria') %}
									<div><img src="{{Image(item.zdjecie).src}}"></div>
								{% endfor %}
						</div>
					{% endif %}
				</div>

			</div>
		</article>
	<div class="modal micromodal-slide apartments360-modal" id="apartments360-modal" aria-hidden="true">
			<div class="modal__overlay" tabindex="-1" data-micromodal-close>
				<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="apartments360-modal-title">
				<div class="modal__header">
					<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
				</div>
				<div class="modal__content" id="apartments360-content">
					{# <iframe src="https://apartments3d.resimo.pl/client/1/a80420eef88d11f77532f1b9cb467fa3/?number={{post.name}}" allowfullscreen="true" /> #}
				</div>
				</div>
			</div>
		</div>
		{% include 'components/blocks/contact_modal.twig' %}
	
	{% endblock %}
	
