{% extends "base.twig" %}

{% block content %}
	<article class="inwestycja">
		<header class="inwestycja__header">
			<img class="inwestycja__header__img" src="{{Image(glowne_zdjecie).src}}">
			<div class="l-wrapper">
				<div class="inwestycja__header__title">
					<figure class="circle">
						<a href="#start">
							<svg width="12" height="17" viewbox="0 0 12 17" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.02261 1.01516L6.02261 17" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10"/>
								<path d="M0 6.58545C3.30565 6.58545 6.02261 3.91376 6.02261 0.562835" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10"/>
								<path d="M6.02261 0.562835C6.02261 3.86848 8.6943 6.58545 11.9999 6.58545" stroke="#fff" stroke-width="1.5" stroke-miterlimit="10"/>
							</svg>

						</a>
					</figure>
					<div class="inwestycja__header__title__copy">
						<h1 class="fnt50 inwestycja__header__title__title">{{ title}}</h1>
						<h2 class="inwestycja__header__title__slogan">{{ slogan}}</h2>
					</div>
				</div>
			</div>
		</header>
		<div id="start" class="offset"></div>
		{% include 'components/blocks/znajdz_lokal.twig' %}
		<section class="inwestycja__section">
			<div class="l-wrapper">
				<div class="line" data-aos="width" data-aos-duration="800"></div>

				<h5 class="fnt20 inwestycja__section__title">
					{{ title}}

				</h5>
				<div class="single__article__wrap">

					<h2 class="fnt50 inwestycja__section__lead">{{ lead }}</h2>
				</div>
			</div>
			<div class="l-wrapper --noPadding">
				<div class="js-imagesHome2 inwestycja__section__slider">
					<div class="splide">
						<div class="splide__track">
							<ul class="splide__list">
								{% for image in slider %}
									<li class="splide__slide">
										<img data-splide-lazy="{{Image(image.zdjecie).src | resize(1600,1000)}}">
									</li>
								{% endfor %}
							</ul>
						</div>
						<div class="splide__progress">
							<div class="splide__progress__bar"></div>
						</div>
					</div>

				</div>
			</div>
			<div class="l-wrapper">
				<article class="inwestycja__section__article single__article__wrap">

					<p>{{ opis }}</p>

				</article>
			</div>
		</section>
	</article>
{% endblock %}
