{# MOBILE #}
<section class="home__inwestycjeLista">
	<div class="l-wrapper">
		<div class="line --mobile" data-aos="width" data-aos-duration="800"></div>
		<h3 data-aos="fade-up" data-aos-duration="800" class="fnt20 home__inwestycjeLista__title">{{media_item.title}}</h3>
	</div>
	<div class="home__inwestycjeLista__wrapper">
		{% for item in media_item.inwestycje %}
			<div class="home__inwestycjeLista__item__outsite">
				<div class="home__inwestycjeLista__item__footer">
					<div class="l-wrapper">
						<div class="home__inwestycjeLista__item__footer__wrapper">
							<div data-aos="fade-up" data-aos-duration="800">

								{% if item.link_do_oferty.link %}
									<a href="{{item.link_do_oferty.link}}">
										<h5 class="fnt82 home__inwestycjeLista__item__footer__title">{{item.title}}</h5>
									</a>
								{% else %}

									<h5 class="fnt82 home__inwestycjeLista__item__footer__title">{{item.title}}</h5>

								{% endif %}

							</div>

							<a href="#" class="home__inwestycjeLista__item__footer__link">
								<svg width="40" height="40" viewbox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M40 20.7366H3.05176e-05" stroke="#262359" stroke-width="4" stroke-miterlimit="10"/>
									<path d="M20.3967 40L20.3967 0" stroke="#262359" stroke-width="4" stroke-miterlimit="10"/>
								</svg>

							</a>
							<div class="footer__modal">
								<div class="home__inwestycjeLista__item__modal__wrapp">

									<p>{{item.copy}}</p>
									<a class="home__inwestycjeLista__item__modal__link" href="{{item.link_do_oferty.link}}">Przejdź do oferty</a>

								</div>
							</div>
						</div>
						<p data-aos="fade-up" data-aos-duration="800" data-aos-delay="100" class="fnt20 home__inwestycjeLista__item__footer__subtitle --mobile">{{item.slogan}}</p>
					</div>
				</div>
				<div class="home__inwestycjeLista__item">
					<div class="l-wrapper">
						<div class="home__inwestycjeLista__item__wrap" data-aos="no-real-animaton" data-aos-delay="1000" data-aos-offset="400">

							<div class="home__inwestycjeLista__item__copy">
								<p data-aos="fade-up" data-aos-duration="800" class="fnt20 --number">0{{loop.index}}</p>
								<p data-aos="fade-up" data-aos-duration="800" data-aos-delay="200" class="fnt20 home__inwestycjeLista__item__copy__slogan">{{item.slogan}}</p>
							</div>
							<div class="home__inwestycjeLista__item__images">
								<div class="js-imagesHome2">
									<div class="splide">
										<div class="splide__track">
											<ul class="splide__list">
												{% for image in item.images %}
													<li class="splide__slide">
														<img data-splide-lazy="{{Image(image.image).src}}">
													</li>
												{% endfor %}
											</ul>
										</div>
										<div class="splide__progress">
											<div class="splide__progress__bar"></div>
										</div>
										<div class="splide__autoplay">
											<button class="splide__play">Play</button>
											<button class="splide__pause">Pause</button>
										</div>
									</div>
								</div>

							</div>

						</div>

					</div>

				</div>
			</div>
		{% endfor %}
	</section>

{# DESKTOP #}
<section class="investment-list">
	<div class="l-wrapper">
		<div class="line --desktop" data-aos="width" data-aos-duration="800"></div>
		<h3 data-aos="fade-up" data-aos-duration="800" class="fnt20 investment-list-title">{{media_item.title}}</h3>
	</div>

	<div class="l-wrapper">
		{% for item in media_item.inwestycje %}
			<div class="investment-list-item">
				<div class="investment-slider">
					<div class="js-imagesHome2">
						<div class="splide">
							<div class="splide__track">
								<ul class="splide__list">
									{% for image in item.images %}
										<li class="splide__slide">
											<img data-splide-lazy="{{Image(image.image).src}}">
										</li>
									{% endfor %}
								</ul>
							</div>
							<div class="splide__progress">
								<div class="splide__progress__bar"></div>
							</div>
							<div class="splide__autoplay">
								<button class="splide__play">Play</button>
								<button class="splide__pause">Pause</button>
							</div>
						</div>
					</div>
				</div>

				<div class="investment-animatable-container">
					<button class="investment-expand-button">
						<svg width="40" height="40" viewbox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M40 20.7366H3.05176e-05" stroke="#262359" stroke-width="4" stroke-miterlimit="10"/>
							<path d="M20.3967 40L20.3967 0" stroke="#262359" stroke-width="4" stroke-miterlimit="10"/>
						</svg>
					</button>

					<div class="investment-animatable-background"></div>

					<button class="investment-shrink-button">
						<svg width="40" height="40" viewbox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M40 20.7366H3.05176e-05" stroke="#e9ecf3" stroke-width="2" stroke-miterlimit="10"/>
							<path d="M20.3967 40L20.3967 0" stroke="#e9ecf3" stroke-width="2" stroke-miterlimit="10"/>
						</svg>
					</button>
				</div>

				<div class="investment-text">
					<h5 class="fnt82 investment-name">{{item.title}}</h5>

					<div class="investment-modal-container">
						<p class="investment-description">{{item.copy}}</p>
						<a class="investment-redirect-link-in-modal" href="{{item.link_do_oferty.link}}">Przejdź do oferty</a>
					</div>


					<div class="investment-useless-content">
						<p data-aos="fade-up" data-aos-duration="800" class="fnt20 investment-number">0{{loop.index}}</p>
						<p data-aos="fade-up" data-aos-duration="800" class="fnt20 investment-slogan">{{item.slogan}}</p>

						<a class="investment-redirect-link" href="{{item.link_do_oferty.link}}">Przejdź do oferty</a>

						<div data-aos="fade-up" data-aos-duration="800" class="investment-bottom-lines"></div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</section>
