<section class="homeImageWithVideo">
	<div class="l-wrapper">
		<div class="line --mobile" data-aos="width" data-aos-duration="800"></div>
		<h3 class="fnt20 homeImageWithVideo__copy__title --mobile">{{media_item.title}}</h3>
		<div class="homeImageWithVideo__wrap">
			<div class="homeImageWithVideo__img" data-aos-delay="200" data-aos="fade-up" data-aos-duration="800">
				<div class="youtube-player" data-id="0Gayo0xqTOc"/></div>
		</div>
		<div class="homeImageWithVideo__copy">
			<div class="line" data-aos="width" data-aos-duration="800"></div>
			<h3 data-aos="fade-up" data-aos-duration="800" class="fnt20 homeImageWithVideo__copy__title --desktop">{{media_item.title}}</h3>
			<h4 data-aos="fade-up" data-aos-duration="800" data-aos-delay="200" class=" fnt50 homeimagewithvideo__copy__copy video__title">{{media_item.copy}}</h4>
			<p class="video__copy">{{media_item.copy_after_button}}</p>
			<div class="btn_wrap" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
				<button class="btn btnVideoReadMore">{{media_item.button}}</button>
			</div>
		</div>
	</div>
</section>
