<section class="home__noweInwestycje --dniotwarte">
		<div class="l-wrapper">
		<div class="line" data-aos="width" data-aos-duration="800"></div>
		<div class="slider__header">
			<h3 data-aos="fade-up" data-aos-duration="800" class="fnt20">{{post.historia_portu_title}}</h3>
			<div class="slider__header__buttons">
				<button class="circle --white slider__header__button arrow__left__dni"><img src="{{Image(options.arrow_up).src}}"></button>
				<button class="circle --white slider__header__button arrow__right__dni"><img src="{{Image(options.arrow_up).src}}"></button>
			</div>
		</div>
	</div>
	<div class="slider-wrapper">
		<div class="wrapFullWidth --right" data-aos="fade-up" data-aos-delay="140">
			<div class="home__noweInwestycje__wrapp js-historia --CustomButtons">
				{% for item in post.meta('historia') %}
					<div class="home__noweInwestycje__item">
						{% include 'components/generic/image.twig'  with { img_src:Image(item.zdjecie).src, width:580, height:440 } %}
						<div class="home__noweInwestycje__item__inside">

							<h5 class="fnt30">{{item.rok}}</h5>

							<p>
								{{item.opis}}
							</p>

						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
