<section class="home__noweInwestycje --aktualnosci">
	<div class="l-wrapper">
		<div class="slider__header">
			<h3 data-aos="fade-up" data-aos-duration="800" class="fnt20 home__noweInwestycje__title">Aktualności</h3>
			<div class="slider__header__buttons">
				{% if postLoop|length > 2 %}
					<p>
						<a href="{{options.zobacz_wiecej_aktualnosci_url}}">zobacz więcej</a>
					</p>
				{% endif %}
				<button class="circle --white slider__header__button arrow__left"><img src="{{Image(options.arrow_up).src}}"></button>
				<button class="circle --white slider__header__button arrow__right"><img src="{{Image(options.arrow_up).src}}"></button>
			</div>
		</div>
	</div>
	<div class="wrapFullWidth --right" data-aos="fade-up" data-aos-delay="140">
		<div class="home__noweInwestycje__wrapp js-sliderNew --CustomButtons">
			{% for item in postLoop %}
				<div class="home__noweInwestycje__item">

					{% include 'components/generic/image.twig'  with { img_src:Image(item.thumbnail).src, width:580, height:440 } %}

					<div class="home__noweInwestycje__item__inside">
					{% if (loop.index != 1) %}
						<h4 class="fnt20 news-date">
								{{ item.post_date | date('d.m.Y') }}
						</h4>

						{% endif %}
						<a href="{{item.link}}">
							<h5 class="fnt30">{{item.title}}</h5>
						</a>

						<p>
							<!-- <a href="{{item.link}}">{{item.lead}}</a> -->
						</p>
					</div>

				</div>
			{% endfor %}

		</div>

		{% if postLoop|length > 2 %}
			<a class="btn --mobile" href="">Zobacz więcej</a>
		{% endif %}
	</div>
</section>
