<section class="home__noweInwestycje --wydarzenia wizja__historia --nagrody">
	<div class="l-wrapper">
	<div class="line" data-aos="width" data-aos-duration="800"></div>
		<div class="slider__header">
			
				<h3 data-aos="fade-up" data-aos-duration="800" class="fnt20">{{post.nagrody_separator_title}}</h3>
			<div class="slider__header__buttons">
				<button class="circle --white slider__header__button arrow__left__nag"><img src="{{Image(options.arrow_up).src}}"></button>
				<button class="circle --white slider__header__button arrow__right__nag"><img src="{{Image(options.arrow_up).src}}"></button>
			</div>
		</div>
	</div>

	<div class="wrapFullWidth --right">
		<div class="home__noweInwestycje__wrapp js-nagrody --CustomButtons" >
			{% for item in post.meta('nagrody') %}
				<div class="home__noweInwestycje__item" data-aos="not-real-animation" data-aos-duration="800" data-aos-delay="300">
					<div class="home__noweInwestycje__item__inside home__noweInwestycje__item__inside--nagrody" >
						<h5 class="fnt30">{{item.tytul}}</h5>
						<div class="nagrody-text-container">
							{# <h5 class="fnt30 --desktop">{{item.tytul}}</h5> #}
							<p>{{item.opis}}</p>
						</div>
						<div class="nagrody-image-container">
							<img class="nagrody-image" src="{{Image(item.zdjecie).src}}">
						</div>

					</div>
				</div>
			{% endfor %}
		</div>
	</div>

</section>
