<article class="mix  {% if item.meta('typ') == 'Usługi' %}uslugi{% else %}mieszkanie{% endif %} {% for termname in item.terms('inwestycja') %}{{termname.slug}} {% endfor %} {% for termname in item.terms('dodatkowo') %}{{termname.slug}} {% endfor %}" data-sort="{{item.title}}" {% if item.meta('liczba_pokoi') %} data-a="{{item.meta('liczba_pokoi')}}" {% endif %} {% if item.meta('powierzchnia') %} data-b="{{item.meta('powierzchnia')}}" {% endif %} {% if item.meta('pietro') %} data-c="{{item.meta('pietro')}}" {% endif %} ">
	<div class="znajdzLokal__item">
		<div class="znajdzLokal__item__copy">
			<h2 class="znajdzLokal__item__copy__title">

				<span class="znajdzLokal__item__inwestycja">
					{% for termname in item.terms('inwestycja') %}
						{{termname.name}}
					{% endfor %}
				</span>
			</h2>
			<span class="znajdzLokal__item__title">
				{% if item.meta('typ') == 'Usługi' %}Lokal Usługowy nr{% else %}Mieszkanie nr
				{% endif %}
				{{item.title}}</span>
			{% if item.meta('powierzchnia') %}
				<div class="lokal__twoColumns">
					<h3>Powierzchnia:</h3>
					<p>{{item.meta('powierzchnia')}}
						m²</p>
				</div>
			{% endif %}
			{% if item.meta('liczba_pokoi') %}
				<div class="lokal__twoColumns">
					<h3>Liczba pokoi:</h3>
					<p>{{item.meta('liczba_pokoi')}}</p>
				</div>
			{% endif %}

			<div class="lokal__twoColumns">
				<h3>Piętro:</h3>
				<p>{{item.meta('pietro')}}</p>
			</div>

			{% if item.meta('status') %}
				<div class="lokal__twoColumns">
					<h3>Status:</h3>
					<p>{{item.meta('status')}}</p>
				</div>
			{% endif %}

		</div>
		<div class="line --grey" data-aos="width" data-aos-duration="800"></div>
		<figure>
			<img class="lazy" data-src="{{item.thumbnail | resize(150,132)}}">
		</figure>
		<div class="line --grey" data-aos="width" data-aos-duration="800"></div>

		<div class="lokal__btns">
			<button class="btn contact-btn" data-id="{{item.title}}">prośba o kontakt</button>
			<a href="{{item.link}}" class="btn --lightGrey">Szczegóły mieszkania</a>
			{% if item.meta('pdf') %}
				<a target="_blank" href="{{item.meta('pdf')}}" class="btn --lightGrey">pobierz PDF</a>
			{% endif %}

		</div>
	</div>
</article>
