<!DOCTYPE html>

<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!-->
	<html class="no-js" {{site.language_attributes}}> <!--<![endif]-->

	{# <head> #}
	{% include 'header/_head.twig' %}
	{# </head>#}

		<body class="is-loading {{ body_class }}"> <div class="pageloader is-active">
			<div class="waveloader">
				<div class="waveloader__background">
					<div class="waveloader__inner"></div>
				</div>
			</div>

			<div class="logo-clear">
				<svg width="90" height="90" viewbox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M7.14641 59.5533C7.14641 60.6699 6.84865 61.4888 6.17867 62.0843C5.50869 62.6799 4.61539 62.9776 3.42432 62.9776H2.67991V66.2531H0V56.4268H3.42432C4.68983 56.4268 5.58314 56.7245 6.25311 57.2456C6.84865 57.7667 7.14641 58.5856 7.14641 59.5533ZM2.67991 60.8933H3.201C3.57321 60.8933 3.94542 60.7444 4.16874 60.5211C4.39207 60.2977 4.54095 60 4.54095 59.6278C4.54095 58.9578 4.16874 58.66 3.42432 58.66H2.75435V60.8933H2.67991Z" fill="white"/>
					<path d="M17.9409 61.3401C17.9409 62.9778 17.5687 64.2433 16.7498 65.1366C15.931 66.0299 14.7399 66.4021 13.1766 66.4021C11.6133 66.4021 10.4223 65.9555 9.6034 65.0622C8.78454 64.1689 8.33789 62.9034 8.33789 61.2657C8.33789 59.6279 8.78454 58.3624 9.6034 57.4691C10.4223 56.5758 11.6133 56.2036 13.1766 56.2036C14.7399 56.2036 15.931 56.6503 16.7498 57.4691C17.4942 58.4369 17.9409 59.7024 17.9409 61.3401ZM11.1667 61.3401C11.1667 63.2756 11.8367 64.1689 13.1766 64.1689C13.8466 64.1689 14.3677 63.9456 14.6654 63.4989C14.9632 63.0523 15.1865 62.3078 15.1865 61.3401C15.1865 60.3724 15.0377 59.6279 14.6654 59.1813C14.3677 58.7346 13.8466 58.5113 13.1766 58.5113C11.8367 58.4369 11.1667 59.4046 11.1667 61.3401Z" fill="white"/>
					<path d="M22.4065 62.6799V66.2531H19.7266V56.4268H22.9276C25.6075 56.4268 26.9474 57.3945 26.9474 59.33C26.9474 60.4466 26.4263 61.3399 25.3097 62.0099L28.2129 66.3275H25.1608L23.0764 62.7543H22.4065V62.6799ZM22.4065 60.7444H22.9276C23.8953 60.7444 24.342 60.2977 24.342 59.4789C24.342 58.8089 23.8953 58.4367 23.002 58.4367H22.4809V60.7444H22.4065Z" fill="white"/>
					<path d="M33.4253 66.3275H30.7454V58.5856H28.3633V56.4268H35.8075V58.5856H33.4253V66.3275Z" fill="white"/>
					<path d="M47.9413 59.5533C47.9413 60.6699 47.6436 61.4888 46.9736 62.0843C46.3036 62.6799 45.4103 62.9776 44.2192 62.9776H43.4748V66.2531H40.7949V56.4268H44.2192C45.4848 56.4268 46.3781 56.7245 47.048 57.2456C47.6436 57.7667 47.9413 58.5856 47.9413 59.5533ZM43.4748 60.8933H43.9959C44.3681 60.8933 44.7403 60.7444 44.9637 60.5211C45.187 60.2977 45.3359 60 45.3359 59.6278C45.3359 58.9578 44.9637 58.66 44.2192 58.66H43.4748V60.8933Z" fill="white"/>
					<path d="M52.1838 62.6799V66.2531H49.5039V56.4268H52.7049C55.3848 56.4268 56.7248 57.3945 56.7248 59.33C56.7248 60.4466 56.2037 61.3399 55.087 62.0099L57.9903 66.3275H54.9382L52.8538 62.7543H52.1838V62.6799ZM52.1838 60.7444H52.7049C53.5982 60.7444 54.1193 60.2977 54.1193 59.4789C54.1193 58.8089 53.6726 58.4367 52.7793 58.4367H52.2583V60.7444H52.1838Z" fill="white"/>
					<path d="M64.914 66.3275L64.3929 64.4665H61.1919L60.6708 66.3275H57.7676L60.9686 56.4268H64.5418L67.8172 66.3275H64.914ZM63.8718 62.2332L63.4252 60.5955C63.3507 60.2233 63.2018 59.7766 63.053 59.1811C62.9785 58.66 62.8296 58.2878 62.8296 57.99C62.7552 58.2134 62.6807 58.5856 62.6063 59.1067C62.4574 59.6278 62.2341 60.6699 61.7874 62.2332H63.8718Z" fill="white"/>
					<path d="M75.3352 63.2758C75.3352 63.8714 75.1863 64.3925 74.8885 64.9136C74.5908 65.3602 74.1441 65.7324 73.5486 66.0302C72.9531 66.328 72.2831 66.4024 71.4642 66.4024C70.7942 66.4024 70.2732 66.328 69.8265 66.2535C69.3799 66.1791 68.9332 66.0302 68.4121 65.8069V63.4247C68.9332 63.6481 69.4543 63.8714 69.9754 64.0203C70.4965 64.1691 71.0176 64.2436 71.4642 64.2436C71.8364 64.2436 72.1342 64.1691 72.3575 64.0203C72.5064 63.8714 72.6553 63.7225 72.6553 63.4992C72.6553 63.3503 72.5808 63.2758 72.5808 63.127C72.5064 63.0525 72.3575 62.9036 72.2086 62.8292C72.0598 62.7548 71.6131 62.5314 70.8687 62.2337C70.1987 61.9359 69.7521 61.6381 69.4543 61.4148C69.1565 61.117 68.8588 60.8193 68.7099 60.4471C68.561 60.0749 68.4866 59.7026 68.4866 59.1815C68.4866 58.2882 68.7843 57.5438 69.4543 57.0227C70.1243 56.5016 71.0176 56.2783 72.2086 56.2783C73.2508 56.2783 74.293 56.5016 75.3352 57.0227L74.5163 59.1071C73.623 58.6605 72.8042 58.4371 72.1342 58.4371C71.762 58.4371 71.5387 58.5116 71.3898 58.586C71.2409 58.7349 71.1665 58.8838 71.1665 59.0327C71.1665 59.256 71.2409 59.4049 71.4642 59.5538C71.6875 59.7026 72.2086 60.0004 73.1019 60.3726C73.9208 60.7448 74.5163 61.1915 74.8885 61.6381C75.1863 62.0848 75.3352 62.6059 75.3352 63.2758Z" fill="white"/>
					<path d="M85.3104 66.3275H82.3327L80.3972 62.531L79.5783 62.9776V66.2531H76.8984V56.4268H79.5783V60.7444C79.7272 60.4466 79.9505 60.0744 80.3972 59.4789L82.4816 56.4268H85.3848L82.2582 60.8188L85.3104 66.3275Z" fill="white"/>
					<path d="M86.3535 66.3275V56.4268H89.0334V66.2531H86.3535V66.3275Z" fill="white"/>
					<path d="M26.65 52.8537C25.9056 50.0249 25.6823 47.1217 25.98 44.3673C26.2778 41.5385 27.0967 38.8586 28.2877 36.2532L29.181 34.3177L30.2232 32.4566C30.521 31.8611 30.9676 31.2656 31.3398 30.5956C31.7121 30 32.0843 29.4045 32.5309 28.809C33.2753 27.6179 34.1686 26.5013 35.0619 25.3102C35.9552 24.1936 36.923 23.077 37.8907 22.0348C41.7617 17.7171 46.1538 13.8462 50.6947 10.273C55.2357 6.62532 59.9999 3.27544 65.062 0.223326L64.9875 0C59.8511 2.75435 54.8635 5.95534 50.0992 9.37967C45.3349 12.8784 40.794 16.6005 36.6997 20.8437C34.6153 22.9281 32.6798 25.1613 30.8932 27.5435C29.1066 29.9256 27.5433 32.5311 26.4267 35.3599C25.3101 38.1886 24.6401 41.1663 24.5656 44.2184C24.4912 47.2705 25.2356 50.2482 26.5756 52.9281L26.65 52.8537Z" fill="white"/>
					<path d="M17.4935 88.4363C17.0469 88.0641 16.5258 87.6919 16.0047 87.2453C15.4836 86.7986 14.8881 86.352 14.2925 85.8309C13.697 85.3098 13.1015 84.7143 12.4315 84.1932C11.836 83.5976 11.166 83.0021 10.496 82.3321C9.90048 81.6621 9.23051 81.0666 8.63497 80.3222L7.74167 79.28C7.4439 78.9078 7.14613 78.61 6.92281 78.2378C6.62504 77.8656 6.32727 77.5678 6.10395 77.1956C5.88062 76.8234 5.58286 76.4512 5.35953 76.1534C5.13621 75.7812 4.83844 75.4835 4.61511 75.1113C4.39179 74.739 4.16846 74.4413 3.94514 74.0691C3.72181 73.7713 3.49849 73.3991 3.3496 73.1013C3.12628 72.8036 2.97739 72.4314 2.82851 72.1336C2.4563 71.538 2.15853 70.9425 1.93521 70.4959C1.71188 69.9748 1.48856 69.5281 1.33967 69.1559C0.967465 68.4115 0.744141 67.9648 0.744141 67.9648C0.744141 67.9648 0.818582 68.4115 0.893024 69.2304C0.967466 69.677 1.04191 70.1237 1.11635 70.7192C1.26523 71.3147 1.48856 71.9103 1.63744 72.5802C1.78633 72.9524 1.86077 73.3247 2.00965 73.6224C2.15853 73.9946 2.30742 74.3668 2.53074 74.739C2.67963 75.1113 2.90295 75.4835 3.05184 75.9301C3.27516 76.3023 3.49849 76.6745 3.72181 77.1212C3.94514 77.4934 4.16846 77.94 4.46623 78.3123C4.764 78.6845 4.98732 79.0567 5.28509 79.4289C5.58286 79.8011 5.80618 80.2477 6.17839 80.5455L7.14614 81.6621C7.74167 82.4066 8.48609 83.0765 9.15606 83.7465C9.82604 84.4165 10.5705 85.012 11.3149 85.5331C12.0593 86.0542 12.7293 86.5753 13.4737 87.0219C13.8459 87.2453 14.1437 87.4686 14.5159 87.6919C14.8881 87.8408 15.1859 88.0641 15.4836 88.213C16.0792 88.5852 16.7491 88.8085 17.2702 89.1063C17.7913 89.3296 18.3124 89.553 18.6846 89.6274C19.5035 89.9252 19.9501 89.9996 19.9501 89.9996C19.9501 89.9996 19.5779 89.7019 18.9079 89.2552C18.3868 89.1063 17.9402 88.7341 17.4935 88.4363Z" fill="white"/>
					<path d="M60.1487 77.2701C55.0122 76.6745 49.5035 76.079 43.9948 75.4835C41.2405 75.1857 38.4861 74.8879 35.8062 74.5902C33.1263 74.2924 30.4464 73.9202 27.9154 73.6224C22.7789 72.9524 18.0146 72.2825 13.9203 71.6125C9.82604 70.9425 6.47616 70.1981 4.16846 69.5281C3.05184 69.1559 2.15853 68.7837 1.563 68.4859C1.26523 68.3371 1.04191 68.1882 0.967466 68.1137C0.818583 68.0393 0.744141 67.9648 0.744141 67.9648C0.744141 67.9648 0.818582 68.0393 0.893024 68.1137C1.04191 68.2626 1.19079 68.4115 1.48856 68.5604C2.00965 68.9326 2.82851 69.4537 3.94514 69.9003C6.17839 70.8681 9.52827 71.9103 13.5481 72.878C17.568 73.8457 22.4067 74.739 27.5432 75.5579C30.0742 75.9301 32.7541 76.3768 35.434 76.6745C38.1139 77.0467 40.8683 77.3445 43.6226 77.6423C46.377 77.94 49.1313 78.1634 51.8112 78.4611C54.4911 78.7589 57.171 78.9078 59.7765 79.1311C62.382 79.3544 64.8385 79.5033 67.2207 79.6522C69.6028 79.8011 71.8361 79.95 73.9204 80.0244C82.1835 80.4711 87.7666 80.4711 87.7666 80.4711C87.7666 80.4711 82.2579 79.7266 74.0693 78.8333C70.0495 78.3867 65.2852 77.8656 60.1487 77.2701Z" fill="white"/>
					<path d="M87.9157 80.5464C87.9157 80.5464 87.7668 80.993 87.6179 81.7375C87.5435 82.1097 87.469 82.4819 87.3946 82.9285C87.3201 83.3752 87.2457 83.8218 87.1713 84.2685C87.0224 85.2362 86.8735 86.1295 86.799 86.8739C86.799 87.2461 86.7246 87.5439 86.7246 87.7672C86.7246 87.9906 86.7246 88.065 86.7246 88.065C86.7246 88.065 86.9479 87.6184 87.0968 86.9484C87.1713 86.5762 87.3201 86.204 87.3946 85.7573C87.469 85.3107 87.5435 84.864 87.6924 84.3429C87.7668 83.8963 87.8412 83.3752 87.9157 82.9285C87.9157 82.4819 87.9901 82.0352 87.9901 81.7375C87.9157 80.993 87.9157 80.5464 87.9157 80.5464Z" fill="white"/>
				</svg>
			</div>
			{# <img src="{{Image(options.logo).src}}"> #}
		</div>
		<div id="mySidenav" class="sidenav">
			<div class="sidenav__inside">
				<a href="javascript:void(0)" class="closebtn">zamknij</a>
				{% include 'components/navbar/index.twig' %}
			</div>
		</div>
		<div class="pageDarken"></div>
		<header class="header is-sticky --mobile headerMobile">
			<div class="l-wrapper">
				<div class="header__wrapper">
					<figure class="circle nav-trigger">
						<a class="openNav">
							<svg width="18" height="12" viewbox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 12H18V10H0V12ZM0 7H18V5H0V7ZM0 0V2H18V0H0Z" fill="#262359"/>
							</svg>
						</a>
					</figure>
					<figure class="circle">
						<a target="_blank" class="popup-modal disableScoll" href="#kontakt-modal">
							<svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M17 12.5C15.75 12.5 14.55 12.3 13.43 11.93C13.08 11.82 12.69 11.9 12.41 12.17L10.21 14.37C7.38 12.93 5.06 10.62 3.62 7.78L5.82 5.57C6.1 5.31 6.18 4.92 6.07 4.57C5.7 3.45 5.5 2.25 5.5 1C5.5 0.45 5.05 0 4.5 0H1C0.45 0 0 0.45 0 1C0 10.39 7.61 18 17 18C17.55 18 18 17.55 18 17V13.5C18 12.95 17.55 12.5 17 12.5ZM16 9H18C18 4.03 13.97 0 9 0V2C12.87 2 16 5.13 16 9ZM12 9H14C14 6.24 11.76 4 9 4V6C10.66 6 12 7.34 12 9Z" fill="#262359"></path>
							</svg>

						</a>
					</figure>
					<figure class="circle">
						<a href="{{options.znajdz_lokal_link}}">
							<svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z" fill="#262359"/>
							</svg>
						</a>
					</figure>
					<a class="header__logo" id="ToTopLogo">
						<img class="header__logo__img" src="{{ options.logo }}" alt="{{ options.logo.alt }}"/>
					</a>
				</div>
			</div>
		</header>
		<header class="header is-sticky --desktop headerDesktop">
			<div class="header__wrapper">
				<div class="header__wrapper__left">
					<div class="menu__copyWrap nav-trigger">
						<figure class="circle">
							<a class="openNav">
								<svg width="18" height="12" viewbox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 12H18V10H0V12ZM0 7H18V5H0V7ZM0 0V2H18V0H0Z" fill="#262359"/>
								</svg>

							</a>
						</figure>
						MENU
					</div>
					<div class="menu__copyWrap">
						<figure class="circle">
							<a href="{{options.znajdz_lokal_link}}">
								<svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z" fill="#262359"/>
								</svg>
							</a>
						</figure>
						<a href="{{options.znajdz_lokal_link}}">
							ZNAJDŹ LOKAL
						</a>
					</div>
				</div>
				<a class="header__logo">
					<img class="header__logo__img" src="{{ options.logo }}" alt="{{ options.logo.alt }}"/>
				</a>
				<div class="header__wrapper__right">
					<div class="menu__copyWrap --tel">
						<a target="_blank" href="tel:222885085">
							<span>22</span>
							28 85 0 85
						</a>
					</div>
					<figure class="circle">
						<a target="_blank" class="popup-modal disableScoll" href="#kontakt-modal">
							<svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M17 12.5C15.75 12.5 14.55 12.3 13.43 11.93C13.08 11.82 12.69 11.9 12.41 12.17L10.21 14.37C7.38 12.93 5.06 10.62 3.62 7.78L5.82 5.57C6.1 5.31 6.18 4.92 6.07 4.57C5.7 3.45 5.5 2.25 5.5 1C5.5 0.45 5.05 0 4.5 0H1C0.45 0 0 0.45 0 1C0 10.39 7.61 18 17 18C17.55 18 18 17.55 18 17V13.5C18 12.95 17.55 12.5 17 12.5ZM16 9H18C18 4.03 13.97 0 9 0V2C12.87 2 16 5.13 16 9ZM12 9H14C14 6.24 11.76 4 9 4V6C10.66 6 12 7.34 12 9Z" fill="#262359"></path>
							</svg>
						</a>
					</figure>
					{# <figure class="circle">
						<a target="_blank" class="popup-modal disableScoll" href="#kontakt-modal">
							<svg width="20" height="16" viewbox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M18 0H2C0.9 0 0.00999999 0.9 0.00999999 2L0 14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2C20 0.9 19.1 0 18 0ZM18 14H2V4L10 9L18 4V14ZM10 7L2 2H18L10 7Z" fill="#262359"/>
							</svg>
						</a>
					</figure> #}
					<figure class="lang circle">
						<div class="lang__switch">
							{% for item in lang %}
								{% if item.active != 1 %}
									<a href="{{item.url}}" class="active">
										{{ item.language_code }}
									</a>
								{% endif %}
								{% endfor %}
						</div>
					</figure>
				</div>


			</div>
		</header>
		<div id="kontakt-modal" class="form__modal mfp-hide kontakt__modal">
			{% if options.header_popup_shortcode %}
				{% filter shortcodes %}
					{{options.header_popup_shortcode}}
				{% endfilter %}
			{% endif %}
		</div>
	</body>
</html></body></html>
